
 
  <html>
   <head>
       <style>
           .infos{
           font-family: cursive;
            font-size: 16px;
           }
           .header{
               color:red;
               font-size:22px;
           }
       </style>
   </head>
    <body>
    <br>
    <div class="infos">
        Hello!! Welcome to our website.The sole purpose of this website is to fufill the gap between <br>
        blood donors and receivers. We do not provide any type of blood services. We only try to act as<br> a means of communication between these two parties. 
        <br> <br>
         </div>
         <div class="header">
             <u>   Blood Groups </u>
         </div> 
         <br>
         <div class="infos">
        In 1901, Karl Landsteiner,an Austrian physician,discovered the first three human blood groups. <br>In 1930, he received the Nobel Prize for his discovery of blood types. Want to know more? <a href="https://en.wikipedia.org/wiki/ABO_blood_group_system">Click Here</a>.</div> <br> <br>
        <div class="header"> <u> Facts Related To Blood Donation </u></div> <br> 
        <div class="infos">
           1. The approximate distribution of blood types in world population is given below: <br>
               O-positive: 38 percent  <br>
               O-negative: 7 percent <br>
               A-positive: 34 percent <br>
               A-negative: 6 percent <br>
               B-positive: 9 percent <br>
               B-negative: 2 percent <br>
               AB-positive: 3 percent <br>
               AB-negative: 1 percent <br>
            
            2 Type O-negative blood is called the universal donor type because it is compatible with any blood type.<br>3. Type AB-positive blood is called the universal recipient type because a person who has it can receive blood of any type. <br>
            4. One donation can help to save the lives of three people. <br>
            5. If you began donating blood at the age of 18 and donated every 90 days until you reached 60,you would have donated 30 gallons of blood,potentially helping to save more than 500 lives! <br>
            6. Donors can give either whole blood or spcific blood components(RBC,WBC & plasma) only. <br>
              The process of donating specific blood components is called apheresis. <br>
            
        </div>
        <br>
        <div class="header">
            <u> Why Should You Donate Blood?? </u>
        </div> <br>
        <div class="infos">
            1.Blood is the most precious gift that anyone can give to another person — the gift of life. <br>
            Thousands of people die every year due to the lack of blood for transfusion. <br>
            Blood transfusion is needed for: <br>

           => women with complications of pregnancy, such as ectopic pregnancies and haemorrhage before, during or after childbirth; <br>
           => children with severe anaemia often resulting from malaria or malnutrition; <br>
           => people with severe trauma following man-made and natural disasters; and <br>
           => many complex medical and surgical procedures and cancer patients. <br>
           2.It is not more painful then losing a loved one that you may save by donating. Is it? <br>
           3.Because some day, you may need someone to do the same for you. <br> <br>  
        </div>
        <div class="header">
            <u> Health Benefits Of Donating Blood </u>
        </div> <br>
        <div class="infos">
            Blood donation not only makes the receiver’s life good but also helps the donor to maintain good health. <br> The health benefits of donating blood are mentioned below. <br>
            1.PREVENTS HEMOCHROMATOSIS:- <br> Hemochromatosis is a health condition that arises due to excess absorption of iron by the body. <br>
            Regular blood donation may help in reducing iron overload. A reduction in the iron level in the body is linked with low cancer risk.<br>
            2.WEIGHT LOSS:- <br>
            Regular blood donation reduces the weight of the donors. This is helpful to those who are obese and are at higher risk of <br>cardiovascular diseases and other health disorders. <br>
            3.STIMULATES BLOOD CELL PRODUCTION:- <br>
            After donating blood, the body works to replenish the blood loss. This stimulates the production of new blood cells and in turn,<br> helps in maintaining good health.
        </div>
          
    </body>
    
</html>


